 .sidebar {
   position: fixed;
   top: 0;
   bottom: 0;
   z-index: 100;
   padding: 10px 0px;
   background-color: #141e33;
   color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 2%;
   left: 0;
 }

 .sidebar-brand {
   padding: 1rem 1rem;
   font-size: 1.5rem;
 }

 .sidebar-brand a {
   color: #fff;
   text-decoration: none;
 }

 .new-task-btn {
   width: calc(100% - 0.2rem);
   padding: 0.8rem;
   margin: 1.5rem 0.1rem;
   background-color: #cd8c2a;
   border: none;
   color: white;
 }

 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited {
   background-color: #a56403 !important;
 }

 .sidebar-nav {
   padding-top: 0rem;
   font-size: 1.15rem;
   cursor: pointer;
 }

 .sidebar-nav .nav-link {
   color: rgba(255, 255, 255, 0.5);
 }

 .sidebar-nav .nav-link:hover {
   color: rgba(255, 255, 255, 0.75);
 }

 .sidebar-nav .nav-link i {
   margin-right: 10px;
 }

 .dropdown-menu,
 .dropdown-menu a {
   background-color: transparent;
   color: transparent;
   border: none;
   padding-left: 2rem;
 }